.header{
	width: 100%;
	min-height: 109px;
	padding-top: 47px;
	/*background: lightblue;*/


}
.header__container{
	max-width: 1264px;
	padding: 0 10px;
	margin: 0 auto;
	/*background: aqua;*/
}
.header__body{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.header__logo{
	font-family: 'Prompt';
font-weight: 700;
font-size: 23px;
line-height: 16px;
letter-spacing: 0.5px;
color: #FFFFFF;
}
.header__menu{
	

}
.header__list{
	display: flex;
}
.header__item{
	cursor:pointer;
	white-space: nowrap;
	font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 16px;
letter-spacing: 0.5px;
color: #FFFFFF;
}
.header__item:not(:last-child){
margin-right: 43px;
}
.header__link{

}
.header__buttons{
	display: flex;
}
.header__buttons>div:not(:last-child){
	margin-right: 45px;
}
.header__buttons>div{
	cursor: pointer;
}
.header__search{

}
.header__circle{

}
.header__dots{

}