.wrapper{
	width: 100vw;
	min-height: 100vh;
	overflow: hidden;
	background: #17171B;
	display: grid;
	}
.content{
	display: grid;
	grid-template: 1fr/1fr minmax(auto,440px);
}
@media (max-width:784px){
	.content{
		grid-template: auto auto/1fr
	}
}





